    </div> <!-- End Container -->
    <footer>
        <div class="container footer-content">
            <p>&copy; 2026 Online Book Store. All rights reserved.</p>
            <div>
                <a href="#" style="color:white; margin-right: 10px;"><i class="fab fa-facebook"></i></a>
                <a href="#" style="color:white; margin-right: 10px;"><i class="fab fa-twitter"></i></a>
                <a href="#" style="color:white;"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>
