services:
  - type: web
    name: book-shop
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 22.16.0
      - key: MONGO_URI
        sync: false
      - key: PORT
        sync: false
      - key: SESSION_SECRET
        sync: false
